<!DOCTYPE html>
<html lang="zh-CN">
<head>
	<meta charset="UTF-8">
	<title>芬维贸易-关于我们</title>
	<link rel="stylesheet" href="css/about_us.css">
</head>
<body>
	<div class="box">
        <!-- logo -->
		<div class="head">
			<div class="logo"><img src="image/logo.png" alt="logo"></div>
			<div>				
				<span>中文版|英文版</span>	
				<div class="search">
					<input type="text" placeholder="请输入关键字">
					<button>搜索</button>
				</div>
			</div>
		</div>
		<!-- END logo -->
		<!-- 导航条 nav -->
        <div class="nav">
        	<div class="nav-in">
        		<ul>
        		  <li>首页</li>
        		  <li>关于我们</li>
        		  <li>产品中心</li>
        		  <li>新闻中心</li>
        		  <li>联系我们</li>
        	   </ul>
        	   <div>      	    	
        	   		<img src="image/shouji.png" alt="" > 
        		   <span>027-894823665</span>
        	   </div>
        	</div>      	
        </div>
		<!-- END  导航条 nav-->
		<!-- 轮播图 -->
		<div class="banner">
			<img src="image/about_us.png" alt="">
		</div>
		<!-- END 轮播图 -->
		<!-- 内容 -->
		   <div class="content">
			
			<div>
				<div class="product">
					<span>公司简介&nbsp &nbsp&nbsp Introduction</span>
                    <div>
                    	<img src="image/about_us_tu.png" alt="">
                    	<span>
						你的位置>>首页>>
						<span>公司简介</span></span>
                    </div>
					
				</div>
				 <div class="biao">
				    	  <img src="image/biao.png" alt="">
				    </div>
				<div class="pic">
					<img src="image/inxex_5.png" alt="">
					<span> 广州芬维贸易有限公司是食品行业具有影响力的综合性企业。公司创立于2008年，主要从事健康食品原料的开发和销售，涉及领域有：天然健康食品原料、健康养生终端食品。与国内外众多知名上市企业保持紧密的合作关系，销售网络遍及全国各地。合作伙伴主要为全球食品行业顶尖者，拥有雄厚的专业技术背景，丰富的产品资讯，以及强大稳定的质量供应保障。这亦是芬维近年来发展迅速的动力。</span>
					<span>
						广州芬维贸易有限公司是食品行业具有影响力的综合性企业。公司创立于2008年，主要从事健康食品原料的开发和销售，涉及领域有：天然健康食品原料、健康养生终端食品。与国内外众多知名上市企业保持紧密的合作关系，销售网络遍及全国各地。合作伙伴主要为全球食品行业顶尖者，拥有雄厚的专业技术背景，丰富的产品资讯，以及强大稳定的质量供应保障。这亦是芬维近年来发展迅速的动力。
					</span>

					<span>
						广州芬维贸易有限公司是食品行业具有影响力的综合性企业。公司创立于2008年，主要从事健康食品原料的开发和销售，涉及领域有：天然健康食品原料、健康养生终端食品。与国内外众多知名上市企业保持紧密的合作关系，销售网络遍及全国各地。合作伙伴主要为全球食品行业顶尖者，拥有雄厚的专业技术背景，丰富的产品资讯，以及强大稳定的质量供应保障。这亦是芬维近年来发展迅速的动力。
					</span>
				</div>
			</div>
		</div>
		<!-- 内容 end -->
		<!-- 尾部 -->
		<div class="foot">
			<div>
				<ul>
        		  <li>联系我们</li>
        		  <li>联系方式</li>
        		  <li>信息反馈</li>
        		  <li>人才招聘</li>
        		  <li>友情链接</li>
        	   </ul>
			</div>
			<div>
				<p>版权所有 Copyright(C)2009-2012 广州芬维贸易有限公司</p>
			</div>
		</div>
		<!-- 尾部 end -->
	</div>
</body>
</html>