<!DOCTYPE html>
<html lang="zh-CN">
<head>
	<meta charset="UTF-8">
	<title>芬维贸易-新闻中心</title>
	<link rel="stylesheet" href="css/new.css">
</head>
<body>
	<div class="box">
        <!-- logo -->
		<div class="head">
			<div class="logo"><img src="image/logo.png" alt="logo"></div>
			<div>				
				<span>中文版|英文版</span>	
				<div class="search">
					<input type="text" placeholder="请输入关键字">
					<button>搜索</button>
				</div>
			</div>
		</div>
		<!-- END logo -->
		<!-- 导航条 nav -->
        <div class="nav">
        	<div class="nav-in">
        		<ul>
        		  <li>首页</li>
        		  <li>关于我们</li>
        		  <li>产品中心</li>
        		  <li>新闻中心</li>
        		  <!-- <li class="new">
        		  	<ul>
        		  		<li>最新资讯</li>
        		  		<li>企业新闻</li>
        		  		<li>行业动态</li>
        		  	</ul>
        		  </li> -->
        		  <li>联系我们</li>
        	   </ul>
        	   <div>      	    	
        	   		<img src="image/shouji.png" alt="" > 
        		   <span>027-894823665</span>
        	   </div>
        	</div>      	
        </div>
		<!-- END  导航条 nav-->
		<!-- 轮播图 -->
		<div class="banner">
			<img src="image/news.png" alt="">
		</div>
		<!-- END 轮播图 -->
		<!-- 内容 -->
		   <div class="content">
			
			 <div>
				<div class="product">
					<span>新闻&nbsp &nbsp&nbsp News</span>
                    <div>
                    	<img src="image/about_us_tu.png" alt="">
                    	<span>
						你的位置>>首页>>
					        <span>新闻中心</span>
				        </span>
                    </div>
					
				</div>
				 <div class="biao">
				    	  <img src="image/biao.png" alt="">
				    </div>
				<div class="pic">
					<div>
						<img src="image/news_01.png" alt="">
						<div>
							<p>蜂蜜干粉在食品工业的应用</p>
							<p>蜂蜜干粉是由天然蜂蜜为主要原料，小麦淀粉为载体，采用辊筒干燥工艺制作。辊筒干燥工艺能最大限度的保留蜂蜜原有的营养成分。由于蜂蜜干粉具有储运方便、流动性好、容易定量，既保留了蜂蜜的营养价值，又克服了液体蜂蜜在使用中的种种不便而被广泛应用于食品工业的各个领域。该产品在 烘焙食品、冰淇淋、肉制品、休闲食品、乳制品、调味...</p>
							<p>
								发表时间：2012-11-13
							</p>
						</div>
					</div>
					<div>
						<img src="image/news_02.png" alt="">
						<div>
							<p>新品发布—发酵浓缩果、蔬汁</p>
							<p>发酵浓缩果、蔬汁是以浓缩果、蔬汁为原料，特别精选SYNTEK®植物性益生菌发酵剂（植物乳杆菌、嗜热链球菌），经长时间、低温、高密度复合发酵醇酿而成，产品0脂肪，富含多种微量元素、益生菌代谢产物，营养升级、美味又健康，是一款融合了果蔬营养成分与益生菌发酵活性产物附加值得美味佳品，可以与各种天然健康食材搭配...</p>
							<p>
								发表时间：2015-04-28
							</p>
						</div>
					</div>
					<div>
						<img src="image/news_03.png" alt="">
						<div>
							<p>蜂蜜干粉在食品工业的应用</p>
							<p>蜂蜜干粉是由天然蜂蜜为主要原料，小麦淀粉为载体，采用辊筒干燥工艺制作。辊筒干燥工艺能最大限度的保留蜂蜜原有的营养成分。由于蜂蜜干粉具有储运方便、流动性好、容易定量，既保留了蜂蜜的营养价值，又克服了液体蜂蜜在使用中的种种不便而被广泛应用于食品工业的各个领域。该产品在 烘焙食品、冰淇淋、肉制品、休闲食品、乳制品、调味...</p>
							<p>
								发表时间：2012-11-13
							</p>
						</div>
					</div>
					<div>
						<img src="image/news_04.png" alt="">
						<div>
							<p>新品发布—发酵浓缩果、蔬汁</p>
							<p>发酵浓缩果、蔬汁是以浓缩果、蔬汁为原料，特别精选SYNTEK®植物性益生菌发酵剂（植物乳杆菌、嗜热链球菌），经长时间、低温、高密度复合发酵醇酿而成，产品0脂肪，富含多种微量元素、益生菌代谢产物，营养升级、美味又健康，是一款融合了果蔬营养成分与益生菌发酵活性产物附加值得美味佳品，可以与各种天然健康食材搭配...</p>
							<p>
								发表时间：2015-04-28
							</p>
						</div>
					</div>
					<div>
						<img src="image/news_05.png" alt="">
						<div>
							<p>蜂蜜干粉在食品工业的应用</p>
							<p>蜂蜜干粉是由天然蜂蜜为主要原料，小麦淀粉为载体，采用辊筒干燥工艺制作。辊筒干燥工艺能最大限度的保留蜂蜜原有的营养成分。由于蜂蜜干粉具有储运方便、流动性好、容易定量，既保留了蜂蜜的营养价值，又克服了液体蜂蜜在使用中的种种不便而被广泛应用于食品工业的各个领域。该产品在 烘焙食品、冰淇淋、肉制品、休闲食品、乳制品、调味...</p>
							<p>
								发表时间：2012-11-13
							</p>
						</div>
					</div>
				</div>
			</div>
			 <div class="fenye">
			 	<div>
			 		<button class="d1">下一页</button>
				    <button class="d1">尾页</button>
				    <span class="d1">跳转到</span>
				    <input type="text" class="d1">
				    <span class="d1">页</span>
				    <button class="d1">确定</button>
				    <span class="d1">共8页</span>
			 	</div>
			 </div>
		</div>
		<!-- 内容 end -->
		<!-- 尾部 -->
		<div class="foot">
			<div>
				<ul>
        		  <li>联系我们</li>
        		  <li>联系方式</li>
        		  <li>信息反馈</li>
        		  <li>人才招聘</li>
        		  <li>友情链接</li>
        	   </ul>
			</div>
			<div>
				<p>版权所有 Copyright(C)2009-2012 广州芬维贸易有限公司</p>
			</div>
		</div>
		<!-- 尾部 end -->
	</div>
</body>
</html>