<!DOCTYPE html>
<html lang="zh-CN">
<head>
	<meta charset="UTF-8">
	<title>芬维贸易-新闻中心-最新资讯</title>
	<link rel="stylesheet" href="css/news_center.css">
</head>
<body>
	<div class="box">
        <!-- logo -->
		<div class="head">
			<div class="logo"><img src="image/logo.png" alt="logo"></div>
			<div>				
				<span>中文版|英文版</span>	
				<div class="search">
					<input type="text" placeholder="请输入关键字">
					<button>搜索</button>
				</div>
			</div>
		</div>
		<!-- END logo -->
		<!-- 导航条 nav -->
        <div class="nav">
        	<div class="nav-in">
        		<ul>
        		  <li>首页</li>
        		  <li>关于我们</li>
        		  <li>产品中心</li>
        		  <li>新闻中心</li>
        		  <!-- <li class="new">
        		  	<ul>
        		  		<li>最新资讯</li>
        		  		<li>企业新闻</li>
        		  		<li>行业动态</li>
        		  	</ul>
        		  </li> -->
        		  <li>联系我们</li>
        	   </ul>
        	   <div>      	    	
        	   		<img src="image/shouji.png" alt="" > 
        		   <span>027-894823665</span>
        	   </div>
        	</div>      	
        </div>
		<!-- END  导航条 nav-->
		<!-- 轮播图 -->
		<div class="banner">
			<img src="image/news.png" alt="">
		</div>
		<!-- END 轮播图 -->
		<!-- 内容 -->
		   <div class="content">
			
			 <div>
				<div class="new">
					<span>新闻&nbsp &nbsp&nbsp News</span>
                    <div>
                    	<img src="image/about_us_tu.png" alt="">
                    	<span>
						你的位置>>首页>>新闻中心>>
					        <span>最新资讯</span>
				        </span>
                    </div>
					
				</div>
				 <div class="biao">
				    	  <img src="image/biao.png" alt="">
				    </div>
				<div class="pic">
					
						<div class="clearfix">
							<img src="image/news_01.png" alt="">
						</div>
						<h3>蜂蜜干粉在食品工业的应用</h3>
						<p>蜂蜜干粉是由天然蜂蜜为主要原料，小麦淀粉为载体，采用辊筒干燥工艺制作。辊筒干燥工艺能最大限度的保留蜂蜜原有的营养成分。由于蜂蜜干粉具有储运方便、流动性好、容易定量，既保留了蜂蜜的营养价值，又克服了液体蜂蜜在使用中的种种不便而被广泛应用于食品工业的各个领域。该产品在 烘焙食品、冰淇淋、肉制品、休闲食品、乳制品、调味品等多种行业中使用均有着不同寻常的效果。蜂蜜干粉产品的研发成功，极大的提升了食品工业中对蜂蜜这一天然食品应用的深度和广度，拓展了天然蜂蜜的使用范围，解决了食品工业生产想使用却又难以添加的难题。对规模化大型生产企业产品的改良和革新起到了关键性的突破作用。
    蜂蜜干粉应用：
    1、固体饮料
    在固体饮料、奶茶、麦片、藕粉等制品中蜂蜜干粉可当着甜味剂来使用，解决了固体饮料及其他饮料产品中无法添加蜂蜜的问题。蜂蜜干粉醇厚、层次感丰富的甜味使固体饮料的香味更好的体现出来。
    2、冰淇淋
    综合提升冰淇淋产品的口感和风味，使其真正达到爽口自然、口感更加软糯、风味丰满、回味醇厚持久。蜂蜜干粉应用在冰淇淋产品中时，能间接地起到底料香基的作用。同时能最佳的融合冰淇淋自身各种配料的风味，尤其对中低档次的产品能掩饰不良风味和口感。该产品的这一特别功效是任何人工香精香料及其他食品添加剂所无法比拟的。添加蜂蜜干粉使冰淇淋、冰糕之类的产品组织机构更为细腻，质感更有咬劲；添加方便，容易定量，确保产品卫生指标要求。不改变、不影响现有的生产工艺流程。这一产品尤其适用于大型规模化连续生产运行的食品加工企业，彻底解决了液体蜂蜜不便添加和难于达到的功能效果。
    3、烘焙类产品
    蜂蜜干粉在烘焙行业中可以广泛的应用于面包、蛋糕、饼干、月饼等各式烘焙食品以及制作各种预拌粉。既作为甜味剂来使用，同时也可作为产品改良剂来使用。使用蜂蜜干粉的主要优点：
   （1）有效改善烘焙产品的组织结构，使产品外形挺拔富有弹性。
   （2）改善产品的形态和口感，在含水较多的烘焙食品内有助于产品保持湿润柔软状态；在含糖量高、水分较少的产品内能促进产品形成硬脆或酥脆口感。
   （3）蜂蜜干粉（蜂蜜）中含有的大量单糖可直接作为酵母发酵的主要能量来源，可促进酵母的繁殖和发酵。
   （4）单糖在烤制过程中会使产品形成金黄色或棕黄色表皮及烘焙香味，且着色时间短，可适当减少烘焙时间和温度，是良好的天然着色剂。
   （5）单糖在面团搅拌过程中起反水化作用，可有效改善面团物理性质，调节面筋的胀润度，增加面团的可塑性，使产品外形美观、花纹清晰，还能防止产品收缩变形。
   （6）蜂蜜中的天然果糖具有吸湿性和保湿性，有利于制作各种高含水的糕点，并可使面包、蛋糕等烘焙食品在较长时期内保持柔软。
   （7）使用方便，直接混入面粉，适合大规模工业生产，适用于如烘焙企业的中央工厂或其它冷冻面团厂的使用。</p>
							
				</div>
			</div>
			 
		</div>
		<!-- 内容 end -->
		<!-- 尾部 -->
		<div class="foot">
			<div>
				<ul>
        		  <li>联系我们</li>
        		  <li>联系方式</li>
        		  <li>信息反馈</li>
        		  <li>人才招聘</li>
        		  <li>友情链接</li>
        	   </ul>
			</div>
			<div>
				<p>版权所有 Copyright(C)2009-2012 广州芬维贸易有限公司</p>
			</div>
		</div>
		<!-- 尾部 end -->
	</div>
</body>
</html>