<!DOCTYPE html>
<html lang="zh-CN">
<head>
	<meta charset="UTF-8">
	<title>芬维贸易-产品中心-产品信息</title>
	<link rel="stylesheet" href="css/pro_center.css">
</head>
<body>
	<div class="box">
        <!-- logo -->
		<div class="head">
			<div class="logo"><img src="image/logo.png" alt="logo"></div>
			<div>				
				<span>中文版|英文版</span>	
				<div class="search">
					<input type="text" placeholder="请输入关键字">
					<button>搜索</button>
				</div>
			</div>
		</div>
		<!-- END logo -->
		<!-- 导航条 nav -->
        <div class="nav">
        	<div class="nav-in">
        		<ul>
        		  <li>首页</li>
        		  <li>关于我们</li>
        		  <li>产品中心</li>
        		  <li>新闻中心</li>
        		  <!-- <li class="new">
        		  	<ul>
        		  		<li>最新资讯</li>
        		  		<li>企业新闻</li>
        		  		<li>行业动态</li>
        		  	</ul>
        		  </li> -->
        		  <li>联系我们</li>
        	   </ul>
        	   <div>      	    	
        	   		<img src="image/shouji.png" alt="" > 
        		   <span>027-894823665</span>
        	   </div>
        	</div>      	
        </div>
		<!-- END  导航条 nav-->
		<!-- 轮播图 -->
		<div class="banner">
			<img src="image/pro_center.png" alt="">
		</div>
		<!-- END 轮播图 -->
		<!-- 内容 -->
		   <div class="content">
			
			 <div class="clearflow">
				<div class="product">
					<span>产品中心&nbsp &nbsp&nbsp News</span>
                    <div>
                    	<img src="image/about_us_tu.png" alt="">
                    	<span>
						你的位置>>首页>>产品中心>>
					        <span>产品信息</span>
				        </span>
                    </div>
					
				</div>
				 <div class="biao">
				    	  <img src="image/biao.png" alt="">
				    </div>
				<div class="pic">
					<div>
						<img src="image/pro_center_01.png" alt="">
						<div class="show-top">
							<i>杏仁</i>
							<p>杏仁是蔷薇科杏的种子，分为甜杏仁和苦杏仁，主要含有蛋白质、脂肪、糖、微量苦杏仁苷。脂肪的组成中主要是油酸和亚油酸。

杏仁果长在短距(short spur)上，具有未成熟的外观。当果实成熟时，它绿色的外壳会裂开，而显露出包在粗糙外壳中的核仁，核仁为黄色且有很多小洞，外壳为坚硬的木质。 杏仁果为扁平卵形，一端圆，另一端尖，覆有褐色的薄皮。核仁含有20%的蛋白质，不含淀粉，磨碎、加压后，榨出的油脂，大约是本身重量的一半，杏仁油为淡黄色，虽然没有香味，但具有软化皮肤和美容的功效。</p>
						</div> 
					</div>
					<div class="clearfix">	
						<div class="show-buttom">
						   <img src="image/pro_center_02.png" alt="">
						   <div>
						   	<p>
                          	适用范围：医药保健品，健康营养品，婴幼儿食品，固体饮料，乳制品，方便食品，膨化食品，调味品，中老年食品，烘焙食品，休闲食品，冷食冷饮等
包     装：5KG*4，20KG/箱  或 5KG*5，25KG/桶
储 存条件：密封存放于阴凉、干燥、通风、避光处，隔墙离地10CM以上。为延长保存期限，可放在冷藏条件下。严禁和有毒有害物品同放。
保  质 期：24个月
美味的杏仁富含纤维以及抗氧化剂——维生素E，所含的矿物质镁，是身体产生能量、塑造肌肉组织和维持血糖的必需品。同时杏仁能在饮食减肥中阻止热量吸收稳定的血糖能有效防止过度饥饿引起的暴食及肥胖。不过，杏仁最神奇的功能是它可以阻止身体对热量的吸收。研究发现，杏仁细胞壁的成份可以降低人体对脂肪的吸收。

                          </p>
						   	
						   </div>
                          


					    </div>
					
						
					</div>

				</div>
			</div>
		</div>
		<!-- 内容 end -->
		<!-- 尾部 -->
		<div class="foot">
			<div>
				<ul>
        		  <li>联系我们</li>
        		  <li>联系方式</li>
        		  <li>信息反馈</li>
        		  <li>人才招聘</li>
        		  <li>友情链接</li>
        	   </ul>
			</div>
			<div>
				<p>版权所有 Copyright(C)2009-2012 广州芬维贸易有限公司</p>
			</div>
		</div>
		<!-- 尾部 end -->
	</div>
</body>
</html>