<!DOCTYPE html>
<html lang="zh-CN">
<head>
	<meta charset="UTF-8">
	<title>芬维贸易-产品中心</title>
	<link rel="stylesheet" href="css/product.css">
</head>
<body>
	<div class="box">
        <!-- logo -->
		<div class="head">
			<div class="logo"><img src="image/logo.png" alt="logo"></div>
			<div>				
				<span>中文版|英文版</span>	
				<div class="search">
					<input type="text" placeholder="请输入关键字">
					<button>搜索</button>
				</div>
			</div>
		</div>
		<!-- END logo -->
		<!-- 导航条 nav -->
        <div class="nav">
        	<div class="nav-in">
        		<ul>
        		  <li>首页</li>
        		  <li>关于我们</li>
        		  <li>产品中心</li>
        		  <li>新闻中心</li>
        		  <!-- <li class="new">
        		  	<ul>
        		  		<li>最新资讯</li>
        		  		<li>企业新闻</li>
        		  		<li>行业动态</li>
        		  	</ul>
        		  </li> -->
        		  <li>联系我们</li>
        	   </ul>
        	   <div>      	    	
        	   		<img src="image/shouji.png" alt="" > 
        		   <span>027-894823665</span>
        	   </div>
        	</div>      	
        </div>
		<!-- END  导航条 nav-->
		<!-- 轮播图 -->
		<div class="banner">
			<img src="image/product.png" alt="">
		</div>
		<!-- END 轮播图 -->
		<!-- 内容 -->
		   <div class="content">
			
			 <div>
				<div class="product">
					<span>产品中心&nbsp &nbsp&nbsp Prouct</span>
                    <div>
                    	<img src="image/about_us_tu.png" alt="">
                    	<span>
						你的位置>>首页>>
					        <span>产品中心</span>
				        </span>
                    </div>
					
				</div>
				 <div class="biao">
				    	  <img src="image/biao.png" alt="">
				    </div>
				<div class="pic">
					<div>
						<img src="image/product_01.png" alt="">
						<p>杏仁粉</p>
					</div>
					<div>
						<img src="image/product_02.png" alt="">
						<p>山楂粉</p>
					</div>
					<div>
						<img src="image/product_03.png" alt="">
						<p>枣粉</p>
					</div>
					<div>
						<img src="image/product_04.png" alt="">
						<p>草莓粉</p>
					</div>
					<div>
						<img src="image/product_05.png" alt="">
						<p>胡萝卜粉</p>
					</div>
					<div>
						<img src="image/product_06.png" alt="">
						<p>黄瓜粉</p>
					</div>
					<div>
						<img src="image/product_07.png" alt="">
						<p>芹菜粉</p>
					</div>
					<div>
						<img src="image/product_08.png" alt="">
						<p>金菊粉</p>
					</div>
					
					
				
				</div>
			</div>
			 <div class="fenye">
			 	<div>
			 		<button class="d1">下一页</button>
				    <button class="d1">尾页</button>
				    <span class="d1">跳转到</span>
				    <input type="text" class="d1">
				    <span class="d1">页</span>
				    <button class="d1">确定</button>
				    <span class="d1">共8页</span>
			 	</div>
			 </div>
		</div>
		<!-- 内容 end -->
		<!-- 尾部 -->
		<div class="foot">
			<div>
				<ul>
        		  <li>联系我们</li>
        		  <li>联系方式</li>
        		  <li>信息反馈</li>
        		  <li>人才招聘</li>
        		  <li>友情链接</li>
        	   </ul>
			</div>
			<div>
				<p>版权所有 Copyright(C)2009-2012 广州芬维贸易有限公司</p>
			</div>
		</div>
		<!-- 尾部 end -->
	</div>
</body>
</html>